body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}


dd {
  margin-bottom: 5%;
}

.home-list li,
.sidebar-nav li,
.spacer-li {
  margin-bottom: 5px;
}
.user-form-input{
  margin-bottom: 20px;
}
 
